{% extends "base.html" %}
{% block title %}Character {{ character_detail.character_name }} detail{% endblock %}

{% block content %}
<div class="bg-dark">
    <div class="container bg-secondary">
        <div class="section-title text-center">
          <h1 class="text-uppercase display-6">{{ character_detail.character_name }}</h1>
          <p>
            <a class="btn btn-secondary active" role="button" aria-pressed="true" href="/polls/class/{{character_detail.dnd_class}}">{{ character_detail.dnd_class }}</a>
          </p>
        </div>
      </div>

      <div class="container ">
        <div class="row ">

          <div class="col-md-6 col-lg-4 ">
            <div class="card bg-dark">
              <img class="card-img-top" src="{{ character_detail.character_image.url }}" alt="img">
              <h4>Picture of the character</h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-8 pl-5 bg-secondary ">
            <div class="row">
              <div class="col-md-8">
                <h4>{{character_detail.character_name}} background story</h4>
                <p>{{character_detail.character_background}}</p>
              </div>
                <div class="col-md-4 pt-5 text-white border-left border-light">
                  <h6>Additional information</h6>
                {% with actual_weapon=character_detail.weapon.pk %}
                    {% for weapon in weapons %}
                        {% if actual_weapon == weapon.idweapon  %}
                            <p>Weapon: {{weapon.name_of_weapon}}</p>
                            <p>Type of weapon: {{weapon.type_of_weapon}}</p>
                            <p>Damage: {{weapon.damage}} / Damage type: {{ weapon.damage_type }}</p>
                            <p>Price of weapon: {{ weapon.price }} Golds</p>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
                <hr class="border border-white">
                  {%with actual_level=character_detail.level.pk%}
                  {%for level in levels %}
                  {%if actual_level == level.level%}
                      <p>Level: {{level.level}}</p>
                      <p>Health: {{level.health_dice}}</p>
                      <p>Maximum Health: {{level.max_health}}</p>
                  {%endif%}
                  {% endfor %}
                  {%endwith%}
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}