{% extends "base.html" %}
{% block title %}Character {{ character_detail.character_name }} detail{% endblock %}

{% block content %}
<div class="bg-dark">
    <div class="container bg-secondary">
        <div class="section-title text-center">
          <h1 class="text-uppercase display-6">{{ character_detail.character_name }}</h1>
          <p>
            <a class="btn btn-secondary active" role="button" aria-pressed="true" href="/polls/class/{{character_detail.dnd_class}}">{{ character_detail.dnd_class }}</a>
          </p>
        </div>
      </div>

      <div class="container ">
        <div class="row ">

          <div class="col-md-6 col-lg-4 ">
            <div class="card bg-dark">
              <img class="card-img-top" src="{{ character_detail.character_image.url }}" alt="img">
              <h4>Picture of the character</h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-8 pl-5 bg-secondary ">
            <div class="row">
              <div class="col-md-8">
                <h4>{{character_detail.character_name}} background story</h4>
                <p>{{character_detail.character_background}}</p>
              </div>
                <div class="col-md-4 pt-5 text-white border-left border-light">
                  <h6>Additional information</h6>
                  <p>Weapon: {{character_detail.weapon}}</p>
                  <p>Level: {{character_detail.level}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}