{% extends "base.html" %}
{% block title %}Character {{ character_detail.character_name }} detail{% endblock %}

{% block content %}
    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>{{ character_detail.character_name }}</h2>
          <p class="separator">{{ character_detail.dnd_class }}</p>
        </div>
      </div>

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="card">

              <img class="card-img-top" src="{{ character_detail.character_image.url }}" alt="img">
              <h4>Picture of the character</h4>
            </div>
          </div>

          <div class="col-md-6 col-lg-8 pl-5" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

              <h4>Character background story</h4>
              <p>{{character_detail.character_background}}</p>

            </div>
          </div>
        </div>
      </div>
{% endblock %}