{% extends "base.html" %}
{% block title %}Detaily classy{% endblock %}

{% block content %}

<div class="bg-dark">
    <div class="container ">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center bg-secondary">
          <h1>{{class_detail.class_name}}: Overview</h1>
          <h2><i>How to play a {{class_detail.class_name}} and what are your abilities.</i></h2>
          <div>
            <button id="#skills" type="button" class="btn btn-dark">Abilities</button>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="{{class_detail.class_picture.url}}" class="img-fluid" alt="typical {{class_detail.class_name}}">
        </div>
      </div>
    </div>


    <div class="container">
        <div class="row justify-content-between pt-2">
            <div class="col-lg-6 pt-5 pt-lg-0 bg-dark text-white">
                <h3>{{class_detail.class_name}} description</h3>
                <p>
                  {{class_detail.class_description}}
                </p>
            </div>
            <div class="col-md-6 bg-secondary">
              <h4>Class bonuses</h4>
              <p>{{class_detail.bonuses}}</p>
            </div>
        </div>
    </div>

    {%for skill in class_detail.skill_id.all%}
    <div class="container" id="accordion">
      <div class="card bg-dark">
        <div class="card-header bg-dark border border-white" id="heading{{skill}}">
          <h5 class="mb-0">
            <button class="btn btn-link text-white" data-toggle="collapse" data-target="#{{skill}}" aria-expanded="true" aria-controls="{{skill}}">
                {{skill}}
            </button>
          </h5>
        </div>
        <div id="{{skill}}" class="collapse" aria-labelledby="heading{{skill}}" data-parent="#accordion">
          <div class="card-body text-white border border-white bg-secondary">
           {{skill.skill_description}}
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
</div>
{% endblock %}