{% extends "base.html" %}

{% block content %}
<div class="row mt-3 mb-3 bg-warning p-3">
    <div class="col-sm-12">
        <h2 class="text-center">Postavy</h2>
    </div>
</div>
<div class="row">
    {% for character in characters %}
    <div class="col-sm-4">
        <div class="card">
            {%if character.character_image %}
                <img class="card-img-top" src="{{ character.character_image.url }}" >
            {%endif%}

            <div class="card-body"><h4 class="card-title">{{ character.character_name }}</h4>
                <p class="card-text">
                    <strong>Player:</strong>
                    {{ character.player_id }}
                </p>
                <p class="card-text">
                    <strong>Class:</strong>

                </p>
                <a href="{% url 'character_detail' character.pk %}" class="btn btn-primary">Podrobnosti</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-sm-12">
        <strong>Celkový počet postav:</strong>
        {{ num_characters }}
    </div>
</div>
{% endblock %}