{% extends "base.html" %}

{% block title %}players{% endblock %}
{% block content %}
    <div class="bg-dark">
<div class="container">
    <div class="row">
    {% for player in players %}
        <div class="col-md-3 p-3">
            <div class="card bg-secondary p-2 border border-white">
              <img class="card-img-top rounded-circle mx-auto border border-dark" style="width: 35%; object-fit: cover" src="{{player.player_picture.url}}" alt="player image">
              <div class="card-body text-white">
                <p class="card-text "><strong>Surrname:</strong> {{ player.surrname }}</p>
                  <p class="card-text"><strong>Lastname:</strong> {{ player.lastname }}</p>
                    <p class="card-text text-center">Characters</p>
              <hr class="border border-white">
              <p class="card-text">
              {% with actual_player=player.player_id %}
                  {% for character in characters %}
                      {% if character.player_id.pk == actual_player%}
                            <a href="{% url 'character_detail' character.pk %}" class="text-white">-{{ character.character_name }}</a> ({{ character.dnd_class }})<br>
                      {% endif %}
                  {% endfor %}
                </p>
              {% endwith %}
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
    </div>
{% endblock %}